.footerContainer {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(208, 22, 185, 1) 59%);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerContent {
  color: #fff;
  font-size: 1rem;
}