.headerContainer {
  background-image: url(../../assets/logo.Header.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  padding: 8rem;

 
}

.headerSubtitle {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.headerImage {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
}

/* Media Query for devices with a width between 320px and 480px */
@media (min-width: 320px) and (max-width: 480px) {
  .headerTitle {
    font-size: 1.5rem;
  }

  .headerSubtitle {
    font-size: 0.9rem;
  }

  .headerImage {
    max-width: 250px;
  }

}

/* Media Query for iPads and tablets with a width between 481px and 768px */
@media (min-width: 481px) and (max-width: 768px) {
  .headerTitle {
    font-size: 1.8rem;
  }

  .headerSubtitle {
    font-size: 1.1rem;
  }

  .headerImage {
    max-width: 300px;
  }
}

/* Media Query for small laptops and screens with a width between 769px and 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  .headerTitle {
    font-size: 2rem;
  }

  .headerSubtitle {
    font-size: 1.2rem;
  }

  .headerImage {
    max-width: 350px;
  }
}

/* Media Query for desktops and large screens with a width between 1025px and 1200px */
@media (min-width: 1025px) and (max-width: 1200px) {
  .headerTitle {
    font-size: 2.5rem;
  }

  .headerSubtitle {
    font-size: 1.4rem;
  }

  .headerImage {
    max-width: 400px;
  }
}