.headerContainer {
  background-image: url(../../assets/logo.Header.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  padding: 8rem;

 
}

.headerSubtitle{
  font-size: 2rem;
  color: #fff
}


