.menuContainer {

  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;

  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(239, 201, 235, 1) 0%, rgba(200, 68, 171, 1) 100%);
  box-shadow: 0 4px 30px rgba(2, 1, 1, 0.1);
  backdrop-filter: blur(0.7px);
  -webkit-backdrop-filter: blur(0.7px);

}
ul{
  display: flex;
  gap: 3rem;
  margin-right: 2rem;
  list-style: none;
}

.menuLink {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
}

a:hover {
  color: #ddf1f4;
}

.menuContainer img {
  width: 4rem;
  margin-right: 16rem;
}