
.containerMainHome {
    background-image: url(../../assets/fundoAjudan.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.containerHome {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4rem;
    padding-bottom: 3rem;
    gap: 6rem;
    text-align: center;
}

.containerHomeText p{
   margin-left: 2rem;
}
.containerHome img {
    width: 30.25rem;
    height: 23rem;
    border-radius: 25% 10%;
    margin-bottom: 8rem;
}

.containerHomeText {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 10px 100px 120px;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

section {
    display: flex;
    gap: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.cardsHome {
    background: rgba(173, 86, 169, 0.21);
    border-radius: 10px 100px 120px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    backdrop-filter: blur(0.3px);
    -webkit-backdrop-filter: blur(0.3px);
    border: 1px solid rgba(253, 253, 253, 1);
    border-radius: 1rem;
}

.cardsHome1,
.cardsHome2,
.cardsHome3 {
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 2rem;
    background: rgba(233, 212, 237, 0.23);
    border-radius: 1rem;
    backdrop-filter: blur(0.019rem);
    -webkit-backdrop-filter: blur(0.3px);
    box-shadow: 35px 35px 71px #949494, -35px -35px 71px #ffffff;
}

section img {
    margin-top: 3rem;
    width: 16rem;
    height: 10rem;
    border-radius: 0.5rem;
}

.ReviveDenunce,
.ReviveFlorecer,
.ReviveAmor {
    width: 24rem;
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    justify-content: center;
    align-items: center;
}

.containerRevive {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.containerRevive img {
    width: 14rem;
    border-radius: 26rem;
}

/* Media Query for devices with a width between 320px and 480px */
@media (min-width: 320px) and (max-width: 480px) {
    .containerHome {
        flex-direction: column;
        margin: 2rem;
    }

    .containerHome img {
        width: 100%;
        height: auto;
        margin-bottom: 2rem;
    }

    .containerHomeText {
        margin-left: 0;
        align-items: center;
    }

    section {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .cardsHome1,
    .cardsHome2,
    .cardsHome3 {
        width: 100%;
        margin-bottom: 2rem;
    }

    section img {
        width: 100%;
        height: auto;
        margin-top: 1rem;
    }

    .ReviveDenunce,
    .ReviveFlorecer,
    .ReviveAmor {
        width: 100%;
        margin-top: 4rem;
    }

    .containerRevive {
        flex-direction: column;
        gap: 2rem;
    }
}

