.containerHome {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 6rem;
    gap: 3rem;
    text-align: center;
    background: #e0e0e0;
    box-shadow: 43px 43px 94px #bcbcbc,
        -43px -43px 94px #ffffff;
}

.containerHome img {
    width: 31.25rem;
    height: 25rem;
    border-radius: 0.5rem;
}

.containerHomeText {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    gap: 2rem;
    margin: 4rem;
}

.cardsHome1,
.cardsHome2,
.cardsHome3 {
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 2rem;
    background: #e0e0e0;
    box-shadow: 35px 35px 71px #949494,
        -35px -35px 71px #ffffff;

    border-radius: 0.5rem;
}

section img {
    margin-top: 3rem;
    width: 16rem;
    height: 10rem;
    border-radius: 0.5rem;
}