.containerSobre {
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

.containerMainSobre {
    background-image: url(../../assets/fundoSobre.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
}

.containerSobreSubtitle {
    margin-bottom: 2rem;
}

.containerSobreTexHello {
    margin-top: 2rem;
}

.containerSobreTex,
.containerSobreTexHello {
    font-size: 1.3rem;
    color: #474a51;
    text-align: justify;
}

.container {
    width: 43.75rem
}